/*$desktop:1200px;//xl
$laptop:1024px;//lg
$tablet:768px;//md
$phone:480px;//sm*/

/*  typography */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700||Croissant%20One:400");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700||Open%20Sans:400");
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}
.contshow{
  display: none;
}
.conthide{
  display: block;
}
.recipe *, ::after, ::before {
  box-sizing:border-box;
}

*, ::after, ::before {
  box-sizing:unset;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

p, .paragraph {
  font-weight: 400;
  color: #433520;
  font-size: 15px;
  line-height: 1.8;
  font-family: "Open Sans";
}
p-lg, .paragraph-lg {
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  color: #FDE8CD ;
  font-family: "Croissant One";
  line-height: 1.2;
}
h1, .h1 {
  font-size: 80px;
}


h2, .h2 {
  font-size: 60px;
}


h3, .h3 {
  font-size: 30px;
  text-align: center;
  color:#c7c7c7 ;
}

h4, .h4 {
  font-size: 24px;
}

h5, .h5 {
  font-size: 22px;
  font-family: "Open Sans";
}

h6, .h6 {
  font-size: 1
  4px;
}
header .ml-auto{
   margin-top: 80px;
}

.bg-Brown{
  background-color: #433520;
}
.text-darkblue{
  color: #1C3D5B;
}

.bg-Beige{
  background-color: #FDE8CD;
}
.text-Beige{
  color: #FDE8CD;
}
.border-top{
  border-top: 1px solid #fdb969 !important;
}
fdb969
.text-Brown{
  color: #433520;
} 
.text-lgreen{
  color: #009966;
}
.text-orange{
  color: #fdb969;
}

/* Button style */
.btn {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn:active {
  box-shadow: none;
}
.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}
.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}

.btn-primary {
  background: #433520 ;
  color: #fff;
}
.btn-primary:active {
  background: #433520  !important;
}
.btn-primary:hover {
  background: #433520;
}
.btn-primary.focus, .btn-primary.active {
  background: #433520  !important;
  box-shadow: none !important;
}
header .navbar-nav {
  margin-left: 35%
}
.inputbox{
  width: 60%;
  height: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
}
.textarea{
  height: 150px !important;
  width: 60% !important;
}
.addcontent{
  padding: 0 15%;
}
.message{
  width: 200px;
  height: 100px;
  border-radius: 5px;
  border: none;
  padding: 10px 0px 0px 10px;
}
.addcontent .message{
  width: 62%;
  height: 100px;
  border-radius: 5px;
  border: none;
}

.btn-transparent {
  background: transparent;
  color: #025955;
  font-weight: bold;
}
.btn-transparent:active, .btn-transparent:hover {
  color: #025955;
}

header{
  background-image: url("../public/images/bgheader1x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0px 100px;
  background-color: #1C3D5B;
}

footer{
  background-image: url("../public/images/1x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.imgabout{
  display:inline-block;
  height: 250px;
  width: 100%;
  object-fit: cover;
}r
.imgdiv{
  display:inline-block;
  height: 200px;
  width: 24.3%;
}
.imgl{
  height: 180px;
  width: 17.4rem;
  border-radius: 10px 0px 0px 10px;
}
.imgc{
  height: 180px;
  width: 16rem;
}
.imgr{
  height: 180px;
  width: 16.3rem;
  border-radius: 0px 10px 10px 0px;
}

.box{
  height: 180px;
  /*width: 50%; */     
  -moz-box-align: center;
  display: inline-block;
}
.stack-top{
  width: 95%;
  height:  250px;
  display: flex;
  color: #fff; 
  background-color: #000;
  
}
  
.ltsupds{
  font-family: "Open Sans";
  font-size: 18px;
  margin-left: 6.7em;
  color: ghostwhite;
}
/* styling search bar */
.searchcont {
  box-sizing: content-box;
  background-color: #95ABBC;
  padding: 0px 10px 8px 10px;
  margin-top: 0px;
  margin-right: 0px;
  border-radius: 5px;
  width: 100%
}
.table-darkblue{
  background-color: #1C3D5B;
}

.search input[type=text]{
  width:270px;
  height:25px;
  border-radius:5px;
  border: none;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 5px;
  border: 1px solid gainsboro;

}  

       
.search button{
  background-color: #95ABBC;
  height:18px;
  color: #000;
  margin-left: 20px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.recipeicons{
  display: inline-block;
  margin-left: 10px;
}

.searchcont .img{
  vertical-align: top;
  height: 42px;
  margin-top: -5px;
}

.latestrec{
  margin-right: 4%;
}

body {
  background-color: #F5F5F5;
  overflow-x: hidden;
}
.mcontainer{
  margin-right: 2%;
  padding: 0 6% 0 0;
  background: url("../public/images/ftbeelogo.png");
  background-repeat: no-repeat;
  background-size: 250px 300px;
}
.rcontainer{
  /*margin-right: 2%;*/
  margin-left: 15%;
  margin-right: 15%;
  padding: 0 6% 0 0;
  background-repeat: no-repeat;
  background-size: 350px 350px;
}
.rimg{
  height: 250px;
}
.ftblogo{
  background-image: url("../public/images/ftbeelogo.png");
  background-repeat: no-repeat;
  background-size: 250px 300px;
}
.recp{
  background-color:#95ABBC;
  height: 100%;
  width: 100%;
}
.recipe button{
  border: 0px;
  background-color: #95ABBC;
  margin-left: 0.7rem;
  width: 92.5% !important;
}

.secblogs{
  background-color: #1C3D5B;
  /*margin-left: 80px;*/
  font-size: 12px;
}
.secrecp{
  background-color: #1C3D5B;
  height: 100%;
  width: 100%;
}
.contact{
  background-color: #95ABBC;
}
.rcontainer .secblogs{
  background-color: #1C3D5B;
  padding: 5px 20px;
}
.blogsimg{
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: #95ABBC;
  margin-left: 5px;
  border-radius: 0px 0px 5px 5px;
}
.blogstxt{
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: #95ABBC;
  margin-left: 5px;
  border-radius: 5px 5px 0px 0px;
}
::-moz-selection {
  background: #F5F5F5;
  color: #fff;
}
/*::selection {
  background: #F5F5F5;
  color: #fff;
}*/

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: top;
  border: 0;
}
.logoimg{
  height:150px;
  width: 233px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #025955 !important;
}

a:hover {
  color: #FFCC33;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-title {
  margin-bottom: 80px;
  font-family: "Playfair Display", serif;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #41228e !important;
}

.bg-gray {
  background: #eaeaea !important;
}

.text-primary {
  color: #41228e !important;
}

.text-color {
  color: #4c4c4c;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #FDE8CD !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}
.ml-100{
  margin-left: 100% !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: "Playfair Display", serif !important;
}

.font-tertiary {
  font-family: "Playfair Display", serif !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark {
  background-color: #222222 !important;
}

/* icon */
.icon {
  font-size: 22px;
}
footer .icon{
  font-size: 18px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}
.slick-dots li {
  display: inline-block;
  margin: 2px;
}
.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}
.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
  border: 0;
}

/* /slick slider */
/* form */
.form-control {
  border: 0;
  border-radius: 5px;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
  padding-left: 20px !important;
}
.form-control:focus {
  border-color: #41228e;
  outline: 0;
  box-shadow: none !important;
}

textarea.form-control {
  height: 120px;
}

/* /form */
/* card */
.card {
  border: 0;
}
.card-header {
  border: 0;
}
.card-footer {
  border: 0;
}

/* /card */
.navigation {
  padding: 40px 130px;
  transition: 0.3s ease;
}

.navigation .nav-bg {
  background-color: #41228e;
  padding: 15px 100px;
}
a {
    color: #ffffff;
}

.navbar .nav-item .nav-link {
  font-weight: 400;
  font-family: "Open Sans";
  padding: 10px;
  font-size: 20px;
}
.navbar .nav-item.active {
  font-weight: bold;
}

header .navbar .nav-item{
  width: 8rem;
}
.navbar-toggler-icon{
  background-color: #00917C;
  /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");*/
  border-radius: 5px;
  width: 2em;
  height: 2em;
}

.hero-area {
  padding: 300px 0 200px;
  position: relative;
  background-color: #009966 !important;
}
.hero-area h1 {
  position: relative;
  z-index: 2;
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 200px;
  left: 40%;
}

#l4 {
  top: 200px;
  right: 40%;
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  bottom: -20px;
  left: 10%;
}

#l7 {
  bottom: 100px;
  left: 20%;
}

#l8 {
  bottom: 160px;
  right: 45%;
}

#l9 {
  bottom: 100px;
  right: -10px;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wave::before, .wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  z-index: 10;
}
.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
          animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@-webkit-keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}

/* /education */
/* service */
.hover-bg-primary {
  transition: 0.3s ease;
}
.hover-bg-primary:hover {
  background: #41228e;
}
.hover-bg-primary:hover * {
  color: #fff;
}

.active-bg-primary {
  transition: 0.3s ease;
  background: #41228e;
}
.active-bg-primary * {
  color: #fff;
}

.hover-shadow {
  transition: 0.2s ease;
}
.hover-shadow:hover {
  box-shadow: 0px 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
}

/* /service */
/* portfolio */
.hover-wrapper {
  overflow: hidden;
}
.hover-wrapper img {
  transition: 0.3s ease;
  transform: scale(1.1);
}
.hover-wrapper:hover img {
  transform: scale(1);
}
.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: #009966;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

/* /portfolio */
/* testimonial */
.testimonial-content strong {
  color: #2bfdff;
  font-weight: normal;
 
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
  background-color: #009966 !important;
}
.position-relative{
  background-color: #009966 !important;
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}
.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}
.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}
.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}
.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px;
}
.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */
.footer-section {
  padding-top: 200px;
}
footer .navbar .nav-item .nav-link {
  font-weight: 400;
  font-family: "Open Sans";
  padding: 10px;
  font-size: 18px;
}
footer .contsearch {
  /* box-sizing: content-box; */
  /* padding-left: 50px; */
  margin-top: 5px;
  border-radius: 5px;
}
.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;
}
.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* /footer */
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}

blockquote {
  display: inline-block;
  padding: 20px 25px;
  background: #eaeaea;
  border-left: 3px solid #41228e;
  font-style: italic;
  font-size: 22px;
  line-height: 1.7;
}

.content * {
  margin-bottom: 20px;
}
.content strong {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: normal;
  color: #000;
  display: inherit;
  line-height: 1.5;
}

.page-title-alt {
  padding: 350px 0 70px;
}

.border-thick {
  border: 10px solid;
}

.drag-lg-top {
  margin-top: -230px;
}


.page-title-alt .container {
  position: relative;
  z-index: 1;
}
.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px;
}
.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  transform: rotate(180deg);
}
.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}
.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
}
.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.page-title {
  padding: 250px 0 150px;
}
.page-title .container {
  position: relative;
  z-index: 1;
}
.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px;
}
.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px;
}
.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px;
}
.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  transform: rotate(180deg);
}
.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px;
}
.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px;
}

.containersearch {
  padding-left: 0;
  padding-right: 0;
  max-width: 80%;
  padding: 0.5rem 5rem;
  margin-top: -55px;
}
.contsearch{
  box-sizing:content-box;
  margin-top: 5px;
  border-radius: 5px;
}
header {
  /*padding: 0;*/
}
.navbar{
  padding:0%;
}
/*.box {
  height: 250px;
  width: 22%; 
  position: absolute;
}*/
.navbar-toggler .navbar-collapse{
  margin-left: 81%;
}  
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {
  -ms-flex-wrap: wrap;
   flex-wrap: wrap; 
}

header .ml-about {
  margin-top: 80px;
  
}
.ltsupds {
  font-family: "Open Sans";
  font-size: 18px;
  margin-left: 1.5em;
  color: ghostwhite;
}

@media (max-width: 767px) {
  .hero-area {
    padding: 250px 0 150px;
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  h2, .h2 {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: 15px 20px;
  }
}
@media (max-width: 991px) {
  .navigation {
    padding: 20px;
    background: #41228e;
  }
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 65px;
  }
}
@media (max-width: 991px) {
  .drag-lg-top {
    margin-top: 0;
  }
}
/*@media (max-width: 912px) {
  .card-lg {
    flex-direction: column;
  }
  .containersearch {
      max-width: 80%;
      padding: 0px !important;
      margin-top: -50px;
  }
}*/
@media (max-width: 481px){ 
  .adminicon{
    display: none;
  }
  .contshow{
    display: block;
  }
  .conthide{
    display: none;
  }
  .containersearch {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    padding:unset;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  header {
    box-sizing: border-box;
    background-image: url(../public/images/bgheader1x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    background-color: #1C3D5B;
  }
  header .nav-item {
    font-weight: 400;
    font-family: "Open Sans";
    padding: 15px 0px ;
    margin-left: 81%;
    font-size: 20px;
    border: 1px solid #000;
  }
  header .navbar{
    position: relative;
  }
  footer input{
    margin-bottom: 5px;
  }
  .logoimg {
    height: 140px;
    width: 150px !important;
  } 
  .imgdiv {
    width: 100%;
  }
  .box {
    height: 60px;
    margin: 2px; 
  }
  footer .ltsupds {
    margin-left: 0.6em !important
  }
  .recipe button{
    width: 85.5% !important;
  }
  .ltsupds {
    font-family: "Open Sans";
    font-size: 14px;
    color: #c7c7c7;
  }  
  input{
    font-size: small !important;
  }
  .searchcont {
    padding: 10px 15px;
    margin-right: 10px;
  }
  .searchcont .img {
    vertical-align: top;
    height: 20px;
    margin-top: -5px;
    width: 38px;
    padding: 0 0.1rem 0 0.1rem;
  }
  .search input[type=text] {
    width: 180px;
    height: 18px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-left: 0px;
  }
  .inputbox{
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    flex-direction: inherit;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .w-100 {
    width:unset;
  }
  .imgl{
    height: 60px;
    width: 4.37rem;
    border-radius: 10px 0px 0px 10px;
  }
  .imgc{
    height: 60px;
    width: 4.37rem;
  }
  .imgr{
    height: 60px;
    width: 4.37rem;
    border-radius: 0px 10px 10px 0px;
  }
  .container{
    padding-left: 0px;
  }
  .secblogs{
    margin-left: 0px;
  }
  header .ml-auto {
    margin-top: -58px;
  }
  
}

@media (min-width: 481px) and (max-width: 767px){ 
  .adminicon{
    display: none;
  }
  .contshow{
    display: none;
  }
  .conthide{
    display: block;
  }
  .containersearch {
    padding-left: 0;
    padding-right: 0;
    max-width: 60% !important;
    padding:unset !important;
    margin-top: 20px !important;
  }
  .contsearch{
    box-sizing:content-box;
    padding-left: 50px;
    margin-top: 5px;
  }
  header {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    background-color: #1C3D5B;
  }
  header .nav-item {
    font-weight: 400;
    font-family: "Open Sans";
    padding: 15px 0px ;
    margin-left: 81%;
    font-size: 20px;
  } 
  .logoimg {
    height: 140px;
    width: 150px !important;
  } 
  .imgdiv {
    width: 100%;
  }
  .box {
    height: 100px;
    margin: 2px;
  }
  .ltsupds {
    font-family: "Open Sans";
    font-size: 18px;
    color: #c7c7c7;
    padding-top: 10px !important;

  }
  .searchcont {
    padding: 10px 15px;
    width: 100%;
  }
  .searchcont .img {
    vertical-align: top;
    height: 40px;
    margin-top: -5px;
    width: 70px;
  }
  .search input[type=text] {
    width: 205px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
  }
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    flex-direction: inherit;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .w-100 {
    width:unset;
  }
  .imgl{
    height: 100px;
    width: 8rem;
    border-radius: 10px 0px 0px 10px;
  }
  .imgc{
    height: 100px;
    width: 8rem;
  }
  .imgr{
    height: 100px;
    width: 7rem;
    border-radius: 0px 10px 10px 0px;
  }
  .recipe button{
    width: 85% !important;
  }
  .rcontainer .secblogs {
    padding: 5px 20px;
  }
  .container{
    padding-left: 0px;
  }
  .secblogs{
    margin-left: 0px;
  }
  footer .contsearch {
    box-sizing: content-box;
    padding-left: 0px;
    margin-top: 5px;
    border-radius: 5px;
  }
  footer .ml{
    margin-left: 1.6rem;
  }
  footer .ltsupds{
    margin-left: 20px;
    font-size: 10px;
  }
  footer .navbar .nav-item .nav-link{
    font-size: 10px;
  }
  footer .icon {
    font-size: 10px;
  }
  footer input{
    margin-bottom: 5px;
  }
  header .ml-auto {
    margin-top: -58px;
  }
  /*footer .row {
    margin-left: 50px;
  }*/
}
/*@media screen and (max-width: 820px) {
  .searchcont .img {
    width: 53px !important;
  }
  header {
    padding: 10px 70px !important;
  }
}*/


@media (min-width: 768px) and (max-width: 1024px){
  .contshow{
    display: none;
  }
  .conthide{
    display: block;
  }
  .page-title .bg-shape-7 {
    right: 0;
  }
  .search input[type=text] {
    width: 190px;
    height: 25px;
    border-radius: 5px;
    border: none;
    /* margin-top: 15px; */
  }
  header {
    padding: 10px 100px;
  }
  .box {
    height: 250px;
    margin: 2px;
  }
  .navbar-toggler .nav-item {
    margin-left: 81%;
  }  
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {
    -ms-flex-wrap: wrap;
     flex-wrap: wrap; 
  }
  .recipe button{
    width: 89% !important;
  }
  header .ml-about {
    margin-top: 80px;
    
  }
  .ltsupds {
    font-family: "Open Sans";
    font-size: 18px;
    margin-left: 1.5em;
    color: #ffffff;
  }
  .containersearch {
    padding-left: 0;
    max-width: 100%;
    padding-right: 3.3rem;
    /*padding: 0.5rem 5rem;*/
    margin-top: -50px;
  }
  .contsearch{
    box-sizing:content-box;
    margin-top: 5px;
    border-radius: 5px;
  }
  header .navbar-nav {
    margin-left: 22%;
  }
  header .navbar .nav-item {
    width: 5.6rem;
}
  .searchcont .img {
    width: 63px;
  }
  .imgl{
    height: 250px;
    width: 10.5rem;
    border-radius: 10px 0px 0px 10px;
  }
  .imgc{
    height: 150px;
    width: 8.5rem;;
  }
  .imgr{
    height: 250px;
    width: 10.5rem;
    border-radius: 0px 10px 10px 0px;
  }
  
  .navbar {
    margin-left: 16px;
    padding: 0%;
  }
  footer .navbar {
    margin-left: 0px;
  }
  footer .ltsupds{
    margin-left: unset;
  }
  
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .contshow{
    display: none;
  }
  .conthide{
    display: block;
  }
  .page-title .bg-shape-7 {
    right: 0;
  }
  .page-title .bg-shape-7 {
    right: 0;
  }
  .search input[type=text] {
    width: 190px;
    height: 25px;
    border-radius: 5px;
    border: none;
    /* margin-top: 15px; */
  }
  header {
   /* padding: 0;*/
  }
  .box {
    height: 250px;
    margin: 2px;
  }
  .navbar-toggler .nav-item {
    margin-left: 81%;
  }  
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {
    -ms-flex-wrap: wrap;
     flex-wrap: wrap; 
  }
  header .ml-about {
    margin-top: 80px;
    
  }
  .ltsupds {
    font-family: "Open Sans";
    font-size: 18px;
    margin-left: 1.5em;
    color: #ffffff;
  }
  .containersearch {
    padding-left: 0;
    max-width: 80%;
    padding: 0.5rem 5rem;
    margin-top: -55px;
  }
  .contsearch{
    box-sizing:content-box;
    margin-top: 5px;
    border-radius: 5px;
  }
  .navbar-nav {
    flex-direction: inherit;
  }
  .searchcont {
    box-sizing: content-box;
    background-color: #95ABBC;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 0px;
    width: 95%;
    border-radius: 5px;
  }
  .searchcont .img {
    width: 90px;
  }
  footer .ltsupds{
    margin-left: unset;
  }
}

.filter-controls li {
  cursor: pointer;
}
.filter-controls li.active {
  font-weight: bold;
}
/*.icon{
  background-image: url("images/logoicon1.png");
}*/